/*Variables*/
:root{
    --font: 'Poppins', sans-serif;
    --background: #000;
    --darkgray: #2C2C2C;
    --lightgray: #A6A6A6; 
    --orange: #FF9E0A;
    --white: #FFF;
}

/*Selectores globales*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
  }
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--font);
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--background);
}
h1{
    color: var(--white);
    margin: 0;
    font-size: 6rem;
    padding: 2rem;
}
h2{
    font-size: 5rem;
    font-weight: normal;
    color: var(--white);
    margin: 0;
    padding: 2rem;
}
button{
    color: var(--white);
    outline: none;
    border: none;
    padding: 1rem;
    width: 100%;
    border-radius: 50px;
    font-size: 5rem;
    cursor: pointer;
}

@media (max-width: 600px){
    button{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        font-size: 3.5rem;
    }
}

/* Calculadora */
.contenedor{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.resultado_display{
    display: flex;
    justify-content: end;
    background-color: var(--background);
    color: var(--white);
    border: none;
}
.botones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-items: center;
}

@media (max-width: 768px){
    .botones{
        gap: 1rem;
    }
}

.botones__x{
    background-color: var(--lightgray);
    color: var(--background);
}
.botones__x:hover{
    background-color: #cecece;
}
.botones__op{
    background-color: var(--orange);
}
.botones__op:hover{
    background-color: #ef9e2d;
}
.botones__num{
    background-color: var(--darkgray);
}
.botones__num:hover{
    background-color: #5b5a5a;
}